div#session-popup {
  background-color: #181825e5;
  backdrop-filter: blur(3px);
  border-radius: 12px;
  padding: 8px 16px 8px;
  position: fixed;
  right: 8px;
  top: 68px;
  width: 250px;
}

div#session-popup.show {
  animation: session-popup-show 0.25s ease-in-out 0s 1 normal forwards;
}

div#session-popup.hide {
  animation: session-popup-show 0.25s ease-in-out 0s 1 reverse forwards;
}

@keyframes session-popup-show {
  from {
    opacity: 0;
    top: 50px
  }

  to {
    opacity: 1;
    top: 68px;
  }
}

div#session-popup>button {
  display: block;
  margin: 5px auto;
  width: 100%;
}