<div class="categories">
  <div (animationend)="onCategoriesContainerAnimationEnd()"
    [class]="'categories-container' + getCategoriesContainerStatusClass()">
    <div class="top-bar">
      <h1>CATEGORÍAS</h1>
      <button (click)="onCategoriesBtnClick()" type="button">Categorías</button>
      <hr>
    </div>
    <div (click)="onCategoriesContainerClick($event)" class="categories-buttons-container" #categoriesContainer>
      <button type="button" id="all-btn">Todas</button>
      <button type="button" id="action-btn">Acción</button>
      <button type="button" id="sci_fi-btn">Ciencia ficción</button>
      <button type="button" id="comedy-btn">Comedia</button>
      <button type="button" id="crime-btn">Crimen</button>
      <button type="button" id="drama-btn">Drama</button>
    </div>
  </div>
  <div class="options-container">
    <h3 id="position-title">{{getCurrentCategory()}}</h3>
    <div id="options" *ngIf="!getCatalogue()">
      <app-media-item [cover]="''" [id]="null" [title]="''" />
      <app-media-item [cover]="''" [id]="null" [title]="''" />
      <app-media-item [cover]="''" [id]="null" [title]="''" />
    </div>
    <div (click)="onOptionsContainerClick($event)" id="options" *ngIf="getCatalogue()" #optionsContainer>
      <app-media-item *ngFor="let media of getCatalogue()" [cover]="media.getCover()" [id]="media.getId()"
        [title]="media.getTitle()" />
    </div>
  </div>
</div>