<div (animationend)="onComponentAnimationEnd($event)" [class]="'popup-wrapper' + getStatusClass()" id="login-popup"
  #loginWrapper>
  <div class="popup">
    <div class="popup-top-bar">
      <p>Iniciar sesión</p>
      <button (click)="onCloseBtnClick()" id="popup-close-btn">X</button>
    </div>
    <div class="popup-content">
      <input (input)="onInputChange($event, 'username')" [disabled]="isWaiting()" type="text" id="popup-username-input"
        placeholder="Nombre de usuario" maxlength="15">
      <input (input)="onInputChange($event, 'password')" [disabled]="isWaiting()" type="password"
        id="popup-password-input" placeholder="Contraseña">
      <button (click)="onLoginBtnClick()" [disabled]="isWaiting()" id="popup-login-btn">Iniciar sesión</button>
    </div>
  </div>
</div>