<div id="search">
  <div class="search-bar-container">
    <input type="text" placeholder="Busca películas y series..." #searchInput>
    <button (click)="onSearchBtnClick()" type="button" id="new-search-btn">
      <img src="../../../assets/icons/search.webp" alt="">
    </button>
  </div>
  <div (click)="onSearchItemsContainerClick($event)" class="search-items-container" #itemsContainer>
    <div class="empty-search" *ngIf="!getMediaItems()">
      <h2>Haz una búsqueda en la barra de búsqueda para mostrar el catálogo.</h2>
    </div>
    <div class="no-results" *ngIf="getMediaItems() && getMediaItems()?.length === 0">
      <h2>¡Uy! no tenemos coincidencias es nuestro catálogo.</h2>
    </div>
    <app-media-item *ngFor="let media of getMediaItems()" [cover]="media.getCover()" [id]="media.getId()"
      [title]="media.getTitle()" />
  </div>
</div>