<nav class="navbar">
  <!-- Logo container -->
  <p (click)="onLogoClick()" id="logo"><span>JS</span>tream</p>
  <!-- Options -->
  <div class="options">
    <p (click)="onCategoriesOptionClick()" class="option" id="categories-option">CATEGORÍAS</p>
    <app-button [onClick]="onSearchBtnClick" icon="../../../../assets/icons/search.webp" />
  </div>
  <!-- User -->
  <div (click)="onUserPictureClick()" class="user-img-container">
    <img src="https://placehold.co/48" alt="user-photo" id="user-img">
  </div>
</nav>