<div class="tendencies">
  <div class="tendencies-container">
    <h1>TENDENCIAS</h1>
    <app-carousel [medias]="getTendencies()" />
  </div>
  <div class="more-tendencies-container">
    <h3>Todas las tendencias</h3>
    <div id="options-container">
      <!-- Elemento de carga. -->
      <app-media-item *ngIf="getTendencies().length === 0" [cover]="''" [id]="null" [title]="''" />
      <!-- Tendencias. -->
      <div *ngIf="getTendencies().length > 0" (click)="onTendenciesClick($event)" #tendenciesHolder>
        <app-media-item *ngFor="let media of getTendencies()" [cover]="media.getCover()" [id]="media.getId()"
          [title]="media.getTitle()" />
      </div>
    </div>
  </div>
</div>