<div id="carousel" [class]="getMedias().length >= 1 ? '' : 'wait'">
  <!-- Elemento del carrusel actual. -->
  <div class="carousel-item" *ngIf="getCurrentMedia()">
    <div class="carousel-img-container">
      <img [src]="'assets/images/' + getCurrentMedia()?.getBackground()" alt="carousel-img">
      <span class="carousel-curtain"></span>
    </div>
    <div class="carousel-info-container">
      <h2 class="carousel-title">{{getCurrentMedia()?.getTitle()}}</h2>
      <button (click)="onCarouselItemClick(getCurrentMedia()?.getId())" type="button">Ver</button>
    </div>
  </div>
  <!-- Elemento del carrusel siguiente. -->
  <div (animationend)="onNextMediaAnimationEnd()" class="carousel-item" *ngIf="getNextMedia()">
    <div class="carousel-img-container">
      <img [src]="'assets/images/' + getNextMedia()?.getBackground()" alt="carousel-img">
      <span class="carousel-curtain"></span>
    </div>
    <div class="carousel-info-container">
      <h2 class="carousel-title">{{getNextMedia()?.getTitle()}}</h2>
      <button (click)="onCarouselItemClick(getNextMedia()?.getId())" type="button">Ver</button>
    </div>
  </div>
</div>