@use '../../../../styles.scss' as styles;

div#carousel {
  aspect-ratio: 16/9;
  border-radius: 12px;
  min-width: 700px;
  overflow: hidden;
  position: relative;
}

div#carousel.wait {
  animation: component-wait 1s linear 0s infinite normal forwards;
}

div#carousel div.carousel-item {
  animation: carousel-item-show 0.7s ease-out 0s 1 normal forwards;
  height: 100%;
  position: absolute;
  width: 100%;
}

@keyframes carousel-item-show {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div#carousel div.carousel-img-container {
  overflow: hidden;
  position: relative;
}

div#carousel .carousel-title {
  letter-spacing: 4px;
}

div#carousel div.carousel-img-container>img {
  border-radius: 12px;
  width: 100%;
}

div#carousel div.carousel-info-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0;
  position: absolute;
  width: calc(100% - 20px);
}

div#carousel span.carousel-curtain {
  background: rgb(32, 32, 48);
  background: linear-gradient(360deg, rgba(32, 32, 48, 1) 39%, rgba(255, 255, 255, 0) 100%);
  bottom: 0px;
  height: 80px;
  left: 0px;
  position: absolute;
  width: 100%;
}

@media (max-width: 720px) {
  div#carousel {
    border-radius: 0px;
    min-width: auto;
    width: 100%;
  }

  div#carousel div.carousel-img-container>img {
    border-radius: 0px;
  }
}