div.background-container {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.background-container>img {
  animation: background-show 0.9s ease-out 0s 1 normal forwards;
  width: 100%;
}

@keyframes background-show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

span.curtain {
  background: rgb(32, 32, 48);
  background: linear-gradient(360deg, rgba(32, 32, 48, 1) 39%, rgba(255, 255, 255, 0) 100%);
  bottom: 0px;
  height: 80px;
  left: 0px;
  position: absolute;
  width: 100%;
}

div.info-container {
  background-color: #2d2d46;
  border-radius: 12px;
  margin: 0 auto;
  max-width: calc(80vw - 40px);
  min-height: 40px;
  padding: 40px;
  position: relative;
}

div.cover-container {
  border-radius: 12px;
  height: 280px;
  margin-right: 10px;
  overflow: hidden;
  top: -250px;
  width: 200px;
}

div.cover-container>img {
  width: 100%;
}

div.main-info-container {
  align-items: end;
  display: flex;
  position: absolute;
  top: -220px;
  width: calc(100% - 80px);
}

#title {
  letter-spacing: 4px;
  max-width: calc(100% - 210px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin-top: 40px;
  letter-spacing: 4px;
}

#description {
  margin-top: 10px;
  letter-spacing: 2px;
  padding-left: 20px;
}

.wait div.background-container {
  background-color: #29293b;
  animation: movie-waiting 1s linear 0s infinite normal forwards;
}

.wait div.background-container>img {
  display: none;
}

.wait div.info-container {
  background-color: #29293b;
  animation: movie-waiting 1s linear 0s infinite normal forwards;
}

.wait div.info-container>* {
  display: none;
}

@keyframes movie-waiting {
  20% {
    background-color: #29293b;
  }

  50% {
    background-color: #454561;
  }

  80% {
    background-color: #29293b;
  }
}

@media (max-width: 640px) {
  div.background-container {
    display: flex;
    height: 75vh;
    justify-content: center;
  }

  div.background-container>img {
    width: auto;
  }

  div.main-info-container {
    align-items: center;
    flex-direction: column;
  }

  .description {
    margin-top: 80px;
  }

  #title {
    letter-spacing: 3px;
    max-width: 100%;
  }
}