<div [class]="'movie' + getStatusClass()" *ngIf="!noMediaFound()">
  <div class="background-container">
    <img [src]="getMedia()?.getBackground()" alt="background-img" id="background-img">
    <span class="curtain"></span>
  </div>
  <div class="info-container">
    <div class="main-info-container">
      <div class="cover-container">
        <img [src]="getMedia()?.getCover()" alt="cover-img" id="cover-img">
      </div>
      <h1 id="title">{{getMedia()?.getTitle()}}</h1>
    </div>
    <h3 class="description">Descripción</h3>
    <p id="description">{{getMedia()?.getDescription()}}</p>
  </div>
</div>
<app-not-found *ngIf="noMediaFound()" />