div#load-wrap {
  background-color: #0000008c;
  backdrop-filter: blur(3px);
  height: 100vh;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

div#load-wrap.show {
  animation: load-wrap-show 0.5s ease-in-out 0s 1 normal forwards;
}

div#load-wrap.hide {
  animation: load-wrap-show 0.5s ease-in-out 0s 1 reverse forwards;
}

div#load-wrap div.loading-figure-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes load-wrap-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

span.loading-figure {
  border: 20px solid white;
  display: inline-block;
  vertical-align: middle;
}

span.loading-figure {
  animation: loading-figure 3s cubic-bezier(.56, -0.01, .99, .15) 0s infinite;
  border-color: #fff;
  border-radius: 100%;
  border-left-color: transparent;
  border-width: 17px;
  height: 10px;
  margin: 18px;
  width: 10px;
}

@keyframes loading-figure {
  10% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(45deg);
  }

  27% {
    transform: rotate(40deg);
  }

  29% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(130deg);
  }

  53% {
    transform: rotate(125deg);
  }

  55% {
    transform: rotate(130deg);
  }

  75% {
    transform: rotate(225deg);
  }

  77% {
    transform: rotate(220deg);
  }

  78% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(365deg);
  }
}