@import url('login.css');
@import url('loading-wrapper.css');
@import url('movie-item.css');
@import url('categories.css');
@import url('account.css');
@import url('movie.css');

body {
  background-color: #202030;
  color: #d6d6f0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p#logo {
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  padding-right: 4px;
  transition: 0.25s;
}

p#logo:hover {
  color: #e5e5f8;
  background-color: #202030;
  margin-right: 7px;
}

p#logo:hover span {
  background-color: transparent;
  color: #eecd14;
  margin-right: 1px;
  padding-right: 0px;
}

p#logo span {
  background-color: #eecd14;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  margin-right: 4px;
  padding: 4px;
  transition: 0.25s;
}

nav.navbar {
  align-items: center;
  color: #aeaec7;
  background-color: #181825e5;
  backdrop-filter: blur(3px);
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: calc(100% - 10px);
  z-index: 1;
}

nav.navbar div.user-img-container {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: center;
  transition: 0.25s;
  width: 52px;
}

nav.navbar p.option {
  border-radius: 4px;
  padding: 4px;
  transition: 0.25s;
}

nav.navbar p.option:hover {
  background-color: #3b3b50;
  color: #d4d4e7;
}

nav.navbar div.user-img-container:hover {
  background-color: #fff;
}

nav.navbar img#user-img {
  border-radius: 100%;
  height: 48px;
  transition: 0.25s;
  width: 48px;
}

div.options {
  display: flex;
}

div.options>* {
  margin: auto 30px;
}

p.option {
  cursor: pointer;
}

div.page-container {
  padding-top: 68px;
  min-height: 100vh;
}

div.page-container.index div.tendencies-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 10px;
}

div#carousel {
  border-radius: 12px;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

div#carousel.waiting {
  animation: carousel-waiting 1s linear 0s infinite normal forwards;
  background-color: #29293b;
}

@keyframes carousel-waiting {
  20% {
    background-color: #29293b;
  }

  50% {
    background-color: #454561;
  }

  80% {
    background-color: #29293b;
  }
}

div#carousel div.carousel-item {
  animation: carousel-item-show 0.7s ease-out 0s 1 normal forwards;
  position: absolute;
}

@keyframes carousel-item-show {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

div#carousel div.carousel-img-container {
  overflow: hidden;
  position: relative;
}

div#carousel .carousel-title {
  letter-spacing: 5;
}

div#carousel div.carousel-img-container {
  max-width: 700px;
  height: 400px;
}

div#carousel div.carousel-img-container>img {
  width: 100%;
}

div#carousel div.carousel-info-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0;
  position: absolute;
  width: calc(100% - 20px);
}

div#carousel span.carousel-curtain {
  background: rgb(32, 32, 48);
  background: linear-gradient(360deg, rgba(32, 32, 48, 1) 39%, rgba(255, 255, 255, 0) 100%);
  bottom: 0px;
  height: 80px;
  left: 0px;
  position: absolute;
  width: 100%;
}


div.page-container div.more-tendencies-container {
  background-color: #29293b;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1000px;
  padding: 10px;
}

div.page-container div.more-tendencies-container div#options-container {
  min-height: 200px;
}

/* Elementos */
button {
  color: #707096;
  background: none;
  border: 2px solid #414163;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  max-height: 40px;
  padding: 10px 20px 10px;
  transition: 0.25s;
}

button:hover {
  color: #202030;
  background-color: #414163;
}

button:focus {
  border-color: #53537c;
  outline: none;
}

button:active {
  background-color: #2f2f49;
  line-height: 22px;
}

input[type="text"],
input[type="password"] {
  color: #6b6b94;
  background: none;
  border: 2px solid #414163;
  border-radius: 10px;
  font-size: 1.1rem;
  margin: 5px auto;
  padding: 10px;
  transition: 0.25s;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #414163;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid #414163;
  background-color: #2a2a3d;
  outline: none;
}

/* Otros estilos */
span.loading-figure {
  border: 20px solid white;
  display: inline-block;
  vertical-align: middle;
}

span.loading-figure {
  animation: loading-figure 3s cubic-bezier(.56, -0.01, .99, .15) 0s infinite;
  border-color: #fff;
  border-radius: 100%;
  border-left-color: transparent;
  border-width: 17px;
  height: 10px;
  margin: 18px;
  width: 10px;
}

span.loading-figure.mini {
  animation: loading-figure 1.7s cubic-bezier(.56, -0.01, .99, .15) 0s infinite;
  border-width: 6px;
  height: 4px;
  width: 4px;
}

@keyframes loading-figure {
  10% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(45deg);
  }

  27% {
    transform: rotate(40deg);
  }

  29% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(130deg);
  }

  53% {
    transform: rotate(125deg);
  }

  55% {
    transform: rotate(130deg);
  }

  75% {
    transform: rotate(225deg);
  }

  77% {
    transform: rotate(220deg);
  }

  78% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(365deg);
  }
}